* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-size: 20px;
    color: lightgreen;
    background-color: skyblue;
}

.header-text {
    display: inline;
    position: fixed;
}

