* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    color: black;
    background-color: skyblue;
}

header {
    position: fixed;
    height: 70px;
    width:100%;
    line-height: 70 px;
    background-color:lightslategrey ;
    display: block;
}

.header-text {
    text-align: right;
}

.main-text {
    text-align: center;
}




