* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: relative;
    color: black;
    background-color: skyblue;
}

header {
    position: fixed;
    height: 70px;
    width:100%;
    line-height: 70 px;
    background-color:lightslategrey ;
    display: block;
}

li {
    display: inline;
}

.header-text {
    text-align: right;
}

.main-text {
    text-align: center;
}




